<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      List Employees
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="createEmployee()">
        <ion-icon name="add"></ion-icon>
        Add Employee
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <ion-list>
        <ion-item *ngFor="let employee of employees" >
          <ion-label>
            {{ employee.fullName }}
          </ion-label>
  
          <!-- <ion-button title="Edit" [routerLink]="['/employee', employee.employee_id]"> -->
            <ion-button title="Edit" (click)="updateEmployee(employee.employee_id)" >
            <ion-icon slot="icon-only" name="construct" ></ion-icon>
          </ion-button>
  
          <ion-button title="Delete" (click)="willDeleteEmployee(employee.employee_id, employee.fullName )" color="danger">
            <ion-icon slot="icon-only" name="trash" ></ion-icon>
          </ion-button>
  
        </ion-item>
      </ion-list>

</ion-content>